:root{
  background-color: rgb(108, 212, 235);
  font-family: Arial, Helvetica, sans-serif;
}

header{
  border: 3px solid rgb(152, 217, 220);    
  background-color: rgb(164, 240, 243);      
  padding: 20px;
}

h1{ 
  text-align: center;
}

main{ 
  display: flex;
  border: 3px solid rgb(152, 217, 220);    
  background-color: rgb(164, 240, 243);      
  justify-content: space-between;
}

.weather-zone{  
  border: 3px solid rgb(152, 217, 220);
  background-color: rgb(164, 240, 243);      
  width: 90%;
}

.container{ 
  background-color: rgb(164, 240, 243);      
  padding: 20px;
}

.weather-display{ 
  background-color: rgb(164, 240, 243);      
  padding: 30px;
  text-align: center;
}

.sidebar{
  font-size: larger;
  border: 3px solid rgb(152, 217, 220);    
  background-color: rgb(164, 240, 243);      
  padding: 10px 10px 50px 10px;
  text-align: center;
  width: 10%
}

.search-box{
  display: flex;
  justify-content: center;
}

.search-box input{
  font-size: medium;
  padding: 10px 300px 10px 10px;
  border: 1px solid;
  border-radius: 10px 0 0 10px;
}

.search-box button{
  font-size: medium;
  border: 1px solid;
  border-radius: 0 10px 10px 0;
  background-color: aliceblue;
}