:root{
  background-color: rgb(108, 212, 235);
  font-family: Arial, Helvetica, sans-serif;
}

header{
  border: 3px solid rgb(152, 217, 220);    
  background-color: rgb(164, 240, 243);      
  padding: 10px;
  font-size: x-large;
}

h1{ 
  text-align: center;
}

main{ 
  display: flex;
  border: 3px solid rgb(152, 217, 220);    
  background-color: rgb(164, 240, 243);      
  justify-content: space-between;
}

.weather-zone{  
  border: 3px solid rgb(152, 217, 220);
  background-color: rgb(164, 240, 243);      
  width: 85%;
}

.container{ 
  background-color: rgb(164, 240, 243);      
  padding: 20px;
}

.weather-display{ 
  background-color: rgb(164, 240, 243);      
  padding: 30px;
  text-align: center;
}

.sidebar{
  font-size: larger;
  border: 3px solid rgb(152, 217, 220);    
  background-color: rgb(164, 240, 243);      
  padding: 10px 20px 50px 10px;
  width: 15%
}

.sidebar h4{
  text-align: center;
}

.search-box{
  display: flex;
  justify-content: center;
}

.search-box input{
  font-size: medium;
  padding: 10px 300px 10px 10px;
  border: 1px solid;
  border-radius: 10px 0 0 10px;
}

.search-box button{
  font-size: medium;
  border: 1px solid;
  border-radius: 0 10px 10px 0;
  background-color: aliceblue;
}

footer{
  display: flex;
  border: 3px solid rgb(152, 217, 220);    
  background-color: rgb(164, 240, 243);   
  padding: 10px 10px 10px 10px;   
}

.about{
  padding: 10px 30px 10px 10px;
}

.spinner{
  width: 5%;
  display: flex;
  transition: opacity 0.2s, visibility 0.2s;
  align-items: center;
  justify-items: center;
}

.spinner-hidden{
  opacity: 0;
  visibility: hidden;
}

.spinner::after{
  content: "";
  width: 15px;
  height: 15px;
  border: 5px solid rgb(255, 255, 255);
  border-top-color: rgb(64, 214, 248);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading{
  from{
    transform: rotate(0turn);
  }to{
    transform: rotate(1turn);
  }
}